
<div class="offset-8 col-4 pt-2 sticky-top">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="searchInput" placeholder="Start Typing">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
    </div>
</div>

<div class="row pt-3 pb-5">
    <div class="col">

    </div> 
    <div class="col">
        <% if(tweets) { %>
            <% tweets.forEach(tweet => { %>
                <div class="col card text-center m-1">
                    <div class="card-body p-4">
                        <h5 class="card-title"> @<%= tweet.user.screen_name %> </h5>
                        <hr style="width: 50%; margin-left: 25%;">
                        <p class="card-text" id="tweetContent"><%= tweet.text %></p> 
                        <p>Retweets <span class="badge bg-primary"><%= tweet.retweet_count %></span></p>
                    </div>
                </div>
            <% }); %>
        <% } %> 
    </div> 
    <div class="col">

    </div>
</div>